.ue_body {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.ue_select_bottom {
  border: none;
  border-bottom: 1px solid black;
  padding: 10px 0;
  background: transparent;
}

.ue_select {
  padding: 0.7rem;
  border-radius: 0.5rem;
  border-color: #e5e7eb;
  width: 100%;
}

input[type=file] {
  /* width: 350px; */
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  cursor: pointer;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--ue-color);
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #0d45a5;
}

.ue_recognition_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ue_import_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.ue_input_border_red{
  border: 2px solid var(--ue-color);
}
.ue_input_border_black{
  border: 1px solid #e5e7eb;
}

.ue_select:focus{
  outline: none;
  box-shadow: none;
  border-color: #e5e7eb;
}

.ue_select_warning:focus {
  border-color: var(--ue-color);
}

.ue_span_error{
  color: var(--ue-color);
  font-weight: bold;
  font-size: 10px;
  text-align: end;
  position: absolute;
  bottom: 4px;
  right: 8px;
}
